Makefile
build/*
*.eep
*.elf
*.lss
*.lst
*.map
*.sym
*.xcodeproj
*.hex
*.o
.dep
usb_rawhid.lst
usb_rawhid.o
Makefile
build
CNC.xcodeproj
Info.plist
applet
PkgInfo
main.scpt
applet.icns
applet.rsrc
TXT.rtf
Hallo.sh
AVR_Tem.c
teensy_loader_cli
teensy_loader_cli.c
Teensy_Loader.scpt
runavarice.sh
README*
*Datum_Version_aktualisieren*